<!-- Update Modal -->

<div id="my-modal">
    <div class="modal-content" >
        <div class="modal-header">
            <h3>Edit Resource "{{eventToUpdate.title}}"</h3>
        </div>
        <div class="modal-body">
            <!-- title -->
            <div class="row">
                <div class="col-md-4">
                    <label>Title</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <span class="title-field">
                            <input id="resourceTitle" class="form-control" type="text" name="title" ng-model="eventToUpdate.title">
                        </span>
                    </div>
                </div>
            </div>
            <!-- capacity -->
            <div class="row">
                <div class="col-md-4">
                    <label>Capacity</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <span class="title-field">
                            <input id="resourceCapacity" class="form-control" name="capacity" ng-model="eventToUpdate.capacity">
                        </span>
                    </div>
                </div>
            </div>
            <!-- date -->
            <div class="row">
                <div class="col-md-4">
                    <label>Date From</label>
                    <div id="time-from">
                        <label >Time From</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <span class="date-field">
                            <ms-date-time-picker ng-model="eventToUpdate.startDateTime" placeholder="From" id="dateFrom"></ms-date-time-picker>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Date To</label>
                    <div id="time-to">
                        <label >Time To</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <span class="date-field">
                            <ms-date-time-picker ng-model="eventToUpdate.endDateTime" placeholder="To" id="dateTo" ></ms-date-time-picker>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="row">
                <div class="col-md-4">
                    <label>Description</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment" ng-model="eventToUpdate.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="updateEvent(eventToUpdate.resourceNumber)">Update Resource</button>
            <button class="btn btn-danger" ng-click="deleteEvent(event.resourceNumber)">Delete</button>
            <button class="btn" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>
